:root {
  --background: white;
  --foreground: var(--gray-950);

  --gray-100: rgb(245, 245, 250);
  --gray-200: rgb(240, 240, 245);
  --gray-300: rgb(230, 235, 235);
  --gray-400: rgb(220, 225, 255);
  --gray-500: rgb(205, 210, 215);
  --gray-600: rgb(170, 180, 185);
  --gray-700: rgb(130, 140, 150);
  --gray-800: rgb(70, 80, 85);
  --gray-900: rgb(50, 55, 60);
  --gray-950: rgb(30, 35, 40);

  --red-50: rgb(254, 242, 242);
  --red-100: rgb(254, 226, 226);
  --red-200: rgb(254, 202, 202);
  --red-300: rgb(252, 165, 165);
  --red-400: rgb(248, 113, 113);
  --red-500: rgb(239, 68, 68);
  --red-600: rgb(220, 38, 38);
  --red-700: rgb(185, 28, 28);
  --red-800: rgb(153, 27, 27);
  --red-900: rgb(127, 29, 29);
  --red-950: rgb(69, 10, 10);

  --rose-50: rgb(255, 241, 242);
  --rose-100: rgb(255, 228, 230);
  --rose-200: rgb(254, 205, 211);
  --rose-300: rgb(253, 164, 175);
  --rose-400: rgb(251, 113, 133);
  --rose-500: rgb(244, 63, 94);
  --rose-600: rgb(225, 29, 72);
  --rose-700: rgb(190, 18, 60);
  --rose-800: rgb(159, 18, 57);
  --rose-900: rgb(136, 19, 55);
  --rose-950: rgb(76, 5, 25);

  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  margin-left: auto;
  margin-right: auto;

  background-color: var(--background);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--gray-100);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-500);
  border-radius: 100vh;
  border: 3px solid var(--gray-100);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gray-600);
}

body {
  margin: 0;
}

main {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

[data-theme="dark"] {
  --background: rgb(18, 18, 18);
  --foreground: white;

  background-color: var(--background);

  .scrollbar::-webkit-scrollbar-track {
    background: var(--gray-900);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--gray-700);
    border: 3px solid var(--gray-800);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--gray-600);
  }
}
