.home-container {
  display: flex;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.filter-bar__container {
  display: flex;
}

.products-utility__container {
  max-width: 100%;
  flex-grow: 1;
}
