.filter-option {
  display: flex;
}

.filter-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  margin-right: 8px;
  padding: 0;
  border: 1px solid var(--gray-700);
  background-color: white;
  border-radius: 0.25rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.filter-checkbox:hover {
  cursor: pointer;
}

.filter-checkbox:checked {
  background-color: var(--gray-800);
}

.filter-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid var(--gray-200);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.filter-label {
  font-size: 12px;
  cursor: pointer;
}

[data-theme="dark"] {
  .filter-checkbox:checked {
    accent-color: var(--gray-500);
  }
}
