.loading-indicator {
  display: flex;
  width: 100%;
  justify-content: center;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.end-of-results-message {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.no-results-message {
  display: flex;
  justify-content: center;
  padding: 40px 10px 10px 10px;
}
