.filter-bar {
  width: 300px;
  position: sticky;
  top: 50px;
  overflow: auto;
  height: calc(100vh - 71px);
  color: var(--gray-800);
  fill: var(--gray-800);
  padding-top: 20px;
}

.filter-bar-icon {
  width: 21px;
}

.filter-bar h1 {
  font-size: 18px;
  font-weight: 500;
  padding-left: 8px;
  align-items: center;
}

.filter-bar-header {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.filter-bar-title {
  display: flex;
  align-items: center;
}

[data-theme="dark"] {
  .filter-bar {
    color: var(--gray-200);
    fill: var(--gray-200);
  }
}
