.product-card-container {
  max-width: 300px;
  height: 100%;
  border: solid 1px var(--gray-200);
  border-radius: 6px;
}

.product-card__image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-card-image {
  border-radius: 6px;
  object-fit: cover;
  height: 100%;
  width: 280px;
  margin: 8px;
}

.product-card-image:hover {
  cursor: pointer;
}

.product-sold-out {
  position: relative;
}

.product-card-info-container {
  padding: 12px;
}

.product-card-info-top {
  display: flex;
  justify-content: space-between;
}

.product-card-price {
  font-size: 16px;
  font-weight: 600;
}

.product-card-size {
  font-size: 12px;
  color: var(--gray-700);
}

.product-card-sold-by-info {
  font-size: 12px;
  color: var(--gray-700);
}

.product-card-main-info-header {
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-700);
}

.product-card-main-info {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 8px 0;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.product-card-title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 3px 0;
}

.product-card-brand {
  font-size: 12px;
  font-weight: 500;
}

.product-card-info-border {
  border-bottom: 1px solid var(--gray-200);
}

[data-theme="dark"] {
  .product-card-container {
    border-color: var(--gray-950);
  }

  .product-card-info-border {
    border-color: var(--gray-950);
  }
}
