.topnav-container {
  padding: 0 20px;
  border-bottom: solid 1px var(--gray-200);
  justify-content: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(16px);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  z-index: 1;
}

.topnav-items {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.topnav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topnav-logo {
  height: 35px;
  fill: var(--gray-900);
}

.topnav-right {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
}

.discord-logo {
  height: 17px;
  cursor: pointer;
  fill: var(--gray-900);
  display: flex;
  align-items: center;
  margin: 10px;
}

.discord-logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

[data-theme="dark"] {
  .topnav-container {
    border-bottom: solid 1px var(--gray-800);
  }

  .discord-logo {
    fill: var(--gray-300);
  }

  .topnav-logo {
    fill: var(--gray-300);
  }
}
