.toggle {
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 3px;
  fill: var(--gray-900);
  padding: 0;
  margin: 0;
}

.toggle:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

[data-theme="dark"] {
  .toggle {
    fill: var(--gray-300);
  }
}
