.filter-utility-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
  max-width: 100%;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 51px;
  padding: 0 10px 0 10px;
  z-index: 1;
}

.scrolled {
  border-bottom: 1px solid var(--gray-500);
}

.mobile-filter-toggle {
  display: none;
}

.mobile-filter-utility-bar {
  display: none;
}

[data-theme="dark"] {
  .filter-utility-container {
    background-color: var(--background);
  }

  .scrolled {
    border-bottom: 1px solid var(--gray-950);
  }

  .mobile-filter-icon {
    fill: var(--gray-100);
  }
}

@media screen and (max-width: 750px) {
  .filter-utility-container {
    grid-template-columns: 1fr 2fr;
  }

  .last-updated-details-section {
    display: none;
  }

  .product-results-count-section {
    display: none;
  }

  .combined-filter-utility-data {
    display: block;
    justify-content: flex-end;
  }

  .mobile-filter-utility-bar {
    display: block;
  }

  .mobile-last-updated-details {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1000px) {
  .sort-select-section {
    display: none;
  }

  .mobile-filter-toggle {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  .mobile-filter-icon {
    height: 18px;
    width: 18px;
    padding-right: 5px;
  }
}
