.last-updated-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-updated-details {
  display: flex;
  font-size: 13px;
}

.last-updated-details-value {
  font-weight: 700;
  display: flex;
}
